@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root   {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --f2: 'Passion One', cursive;
    --f3: 'Sriracha', cursive;
    
}
    *   {
        margin: 0;
        padding: 0;
    }
body    {
    background-color: gray;
    font-family: var(--fonte1);
    min-height: 100vh;
}
a:hover   {
    text-decoration: underline;
}
header      {
    background-color: black;
    color: white;
    text-align: center;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}
header h1 {
    font-family: var(--f2);
    font-size: 10vw;
    padding-top: 50px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header p {
    padding-bottom: 50px;
}
main section {
    font-family: var(--f3);
    font-size: 4vw;
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;
    box-shadow: inset 6px 6px 13px 6 #000000cc;
}
main .normal  {
    background-color: white;
}
main .imagem p {
    background-color: #00000088;
    color: white;
    text-shadow: 1px 1px 0px black;
}
main p  {
    display: inline-block;
    padding: 1em;
}
#img01 {
    background: url(imagens/background001.jpg) right center fixed;
    background-size: cover;
}
#img02 {
    background-size: cover;
    background: url(imagens/background002.jpg) right center fixed;
}
footer      {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}