@charset "UTF-8".

@font-face {
	font-family: cblack;
	src: url(fonts/CLoisterOpti-Black.otf);
}
:root	{
	--cor0: black;
	--cor1: darkblue;
	--cor2: blue;
	--cor3: lightblue;
	--cor4: white;
	--corSombras: #0008;
	--fontePadrao: Arial, Helvetica, sans-serif;
}
	*	{
		margin: 0;
	padding: 0;
}
body	{
	background-color: var(--cor0);
}
	/*TOPO */
header {
	background-image: linear-gradient(180deg, var(--cor2), var(--cor1));
	color: #fff;
	text-align: center;
	text-shadow: 3px 2px 1px var(--corSombras);
	padding: 30px 10px 15px 10px;
}
/*	PRINCIPAL */
main	{
	background-color: #fff;
	max-width: 800px;
	margin: auto;
	padding: 15px 20px;
	box-shadow: 2px 2px 3px 2px var(--corSombras);
}
ul		{
	background-color: lightgray;
	list-style-position: inside;
	columns: 2;
}
.conteudo {
	display: inline;
}
main > div#imgs {
	background: var(--cor3);
	text-align: center;
	border: solid 1px #870044; 
	margin: 6px 0px;
	margin: auto;
	min-width: 350px;
	max-width: 60%;
}
main > img {
	max-width: 100%;
	max-width: 100%;
}
main mark {
	background-color: #15D415;
}
#paleta	{
	font-family: cblack, serif;
	background: linear-gradient(90deg ,#008700, #003B00, #15D415, #3B001D, #870044);
	color: #fff;
	width: 500px;
}

/*	RODAPÉ */
footer	{
	background-color:var(--cor1);
	color: white;
	padding: 12px;
}
footer ul{
	max-width: 600px;
	margin: auto;
}
footer a{
	text-decoration: none;
	color: #fff;
}
